<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <script>
        function showModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
        }

        function hideModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }
    </script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div>
    <h2>Lista de Livros</h2>
    <br>
    <table>
        <thead>
        <tr>
            <th>ID </th>
            <th>Nome </th>
            <th>Ações </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="livro: ${listaLivros}">
            <td th:text="${livro.id}"> </td>
            <td th:text="${livro.nome}"> </td>
            <td>
                <button th:attr="onclick=|showModal('infoModal' + ${livro.id})|">Detalhes</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:each="livro: ${listaLivros}" th:attr="id=${'infoModal' + livro.id}" style="display: none">
        <p>
            ID: <span th:text="${livro.id}"></span><br/>
            Nome: <span th:text="${livro.nome}"></span><br/>
            Autoria: <span th:text="${livro.autoria}"></span><br/>
            Categoria: <span th:text="${livro.categoria.descricao}"></span><br/>
            Preço: <span th:text="${livro.preco}"></span><br/>
            Data de Publicação: <span th:text="${#temporals.format(livro.dataPublicacao, 'dd/MM/yyyy')}"></span><br/>
            ISBN: <span th:text="${livro.isbn}"></span><br/>

            <a th:href="@{/livros/cadastro/{id}(id = ${livro.id})}">Editar</a> | <a th:href="@{/livros/deletar/{id}(id = ${livro.id})}">Deletar</a>
        </p>
        <button th:attr="onclick=|hideModal('infoModal' + ${livro.id})|">Fechar</button>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>